@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --violet: #2f1647;
  --navy: #293b93;
  --stizza: #870b0c;
  --dark: #111;
  --stone: #3D4351;
  --gold: #999;

  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #07080e;
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  display: block;
  background: url('/title.png') no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 420px;
  height: 325px;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .15em;
  margin: 0 auto 2.5rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-left: 2.25rem;
  padding-bottom: 6rem;
}

@media (min-width: 500px) {
  h1 {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
}

h1 span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .12em;
  text-transform: none;
}

h2 {
  background: url('/heading.png') bottom center no-repeat;
  background-size: 257px 60px;
  width: 257px;
  height: 100px;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: 3rem auto 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: circle;
  padding-left:1rem;
  margin-bottom: 1rem;
}

strong {
  color: #fe9b56;
}